{% extends "layout.html" %}
{% block title %}Comparison{% endblock %}
{% block content %}
<div class="columns">
	<div class="column">
			<img src=static/photos/noimage.png width="250px" height="250px">			
			<p><strong>Name: YOU HAVE TO SELECT TWO DRONES </strong></p>
			<p><strong>Type:</strong></p>
			<p><strong>Weight: </strong></p>
			<p><strong>Height:</strong></p>
			<p><strong>Length: </strong></p>
			<p><strong>Endurance: </strong></p>
			<p><strong>Area: </strong></p>
			<p><strong>Technology: </strong></p>
			<p><strong>Price </strong></p>
	</div>     
	<div class="column">
		<img src=static/photos/noimage.png  width="250px" height="250px">			
		<p><strong>Name: YOU HAVE TO SELECT TWO DRONES</strong></p>
		<p><strong>Type: </strong></p>
		<p><strong>Weight: </strong></p>
		<p><strong>Height: </strong></p>
		<p><strong>Length: </strong></p>
		<p><strong>Endurance: </strong></p>
		<p><strong>Area: </strong></p>
		<p><strong>Technology: </strong></p>
		<p><strong>Price </strong></p>
	</div>
</div>


  
{% endblock %}