{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% for row in drones  -%}
		<div class="dronehome">
			<img src={{row[1]}} width="250px" height="250px">			
			<p><strong>Name: </strong>{{row[2]}}</p>
			<p><strong>Type: </strong>{{row[3]}}</p>
			<p><strong>Weight: </strong>{{row[4]}} kg</p>
			<p><strong>Height: </strong>{{row[5]}} m</p>
			<p><strong>Length: </strong>{{row[6]}} m</p>
			<p><strong>Endurance: </strong>{{row[7]}} min</p>
			<p><strong>Area: </strong>{{row[8]}}</p>
			<p><strong>Technology: </strong>{{row[9]}}</p>
			<p><strong>Price </strong>{{row[10]}} $</p>
			<form action="" method="post">
				<button name="compare" type="submit" value="{{loop.index}}">Compare</button>
			</form>
			<form action="" method="post">
				<button name="addbasket" type="submit" value="{{loop.index}}">Add to Basket</button>
			</form>
		</div>
	
	
{% endfor %}







{% endblock %}
