{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form method="post">
    <p class="title" style="color: black;"> LOGIN</p>
    <table id="table2" class="black is-centered" >
    <form class= "fdrone" action="" method="post" name="movie_edit">
        
        <tr>         
            <td><label  for="username">Username:</label></td>
		    <td><input  type="text" name="username" class="input"  required="required"/></td>
		</tr>
        <tr>
            <td><label  for="password">Password:</label></td>
            <td><input  type="text" name="password" class="input" required="required"/><br></td>
        
        </tr>
       
    </form>
    
    </table>
    
        <input name="login" class="button" value="Login" type="submit" >
</form>
{% endblock %}