{% extends "layout.html" %}
{% block title %}New Drone{% endblock %}
{% block content %}
	
	<h1 class="title fdrone" style="color:black;"> New Drone </h1>
	<!-- drone attributes for additon of drones-->
	<form class= "fdrone" style="color: black;" action="" method="post" name="movie_edit">
		<div class="columns is-centered ">
			<div class="column is-narrow ">
			<table class="table2">
				<tr> 
					<td><label  for="dname">Drone Name:</label></td>
					<td><input  type="text" name="dname" class="input" required="required"/><br></td>
				</tr>
				<tr> 
					<td><label for="dweight">Weight:</label></td>
					<td><input  type="text" name="dweight" class="input" required="required"/><br></td>
				</tr>
				<tr>
					<td><label for="dheight">Height:</label></td>
					<td><input  type="text" name="dheight" class="input" required="required"/><br></td>
				</tr>
				<tr>
					<td><label for="dlength">Length:</label></td>
					<td><input  type="text" name="dlength" class="input" required="required"/><br></td>
				</tr>
				<tr>
					<td><label for="dendurance">Endurance:</label></td>
					<td><input  type="text" name="dendurance" class="input" required="required"/><br></td>
				</tr>
				<tr>
					<td><label for="darea">Area:</label></td>
					<td><input  type="text" name="darea" class="input" required="required"/><br></td>
				</tr>
				<tr>
					<td><label for="dtechnology">Technology:</label><br></td>
					<td><input  type="text" name="dtechnology" class="input" required="required"/><br></td>
				</tr>
				<tr>
					<td><label for="dprice">Price:</label></td>
					<td><input  type="text" name="dprice" class="input" required="required"/><br></td>
				</tr>
				<tr>
					<td><label  for="dtype" >Type:</label></td>
					<td>
					<input  type="radio" id="fixedwing" name="type" value="fixed-wing" />
					<label for="fixedwing">fixed-wing</label><br>

					<input  type="radio" id="quad" name="type" value="quad" />
					<label for="quad">quad</label><br>

					<input  type="radio" id="hexa" name="type" value="hexa" />
					<label for="hexa">hexa</label><br>

					<input  type="radio" id="octo" name="type" value="octo" />
					<label for="octo">octo</label><br>

					<input  type="radio" id="vtol" name="type" value="vtol" />
					<label for="vtol">vtol</label><br>

					<input  type="radio" id="helicopter" name="type" value="helicopter" />
					<label for="helicopter">helicopter</label><br>
					</td>
				</tr>
				<tr>
					<td><p>Selec Photo:</p></td>
					<td><input type="file" name="filename" value="noimahe.png"></td>
				</tr>

			</table>
			</div>
		</div>
		<p><b>WARNING: </b>You have to choose photo from /database_project/static/photos</p>
		<div action="" method="post">
			<button name="addbutton" class="button is-link has-background-white has-text-black is-focused" value="add" type="submit" >Add New Drone</button>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		

		

	

	</form>	




{% endblock %}